<footer class="transition-all fixed bottom-0 bg-[#E2E2E2] dark:bg-[#272E38] text-custom-dark dark:text-custom-light w-full py-4 px-8">
<div class="custom-links flex items-center justify-between font-text tex">
    <p> &copy; {{ currentYear }} Charlie Bacon ⸳ <a href="https://github.com/SharliBeicon/sharlibeicon.github.io" target="_blank">source code</a> ⸳ rev <a href="https://github.com/SharliBeicon/sharlibeicon.github.io/commit/{{ commit }}" target="_blank">{{ commit |> substring(0,8)}}</a> ⸳ <a href="/colophon">colophon</a></p>
    <map name="noaimini10">
        <area href="https://baccyflap.com/noai" shape="poly" coords="19,3,19,9,30,9,30,21,19,21,19,29,68,29,68,3" target="_blank" alt="no ai webring" title="no ai webring">
        <area href="https://baccyflap.com/noai/?prv&s=cbp" target="_top" shape="rect" coords="0,0,16,20" alt="previous" title="previous">
        <area href="https://baccyflap.com/noai/?rnd" target="_top" shape="rect" coords="20,12,28,20" alt="random" title="random">
        <area href="https://baccyflap.com/noai/?nxt&s=cbp" target="_top" shape="rect" coords="71,10,87,30" alt="next" title="next">
    </map>
    <img usemap="#noaimini10" src="https://baccyflap.com/noai/miniwidget10.gif" alt="a black rectangle outlined in animated, shifting red and blue pixels, moving around the sign. there are two arrows, one pointing left and one right, protruding from the sign. on the sign are the words THE NO AI WEBRING and a small question mark beside them">
</div>
</footer>
