---

---

<h1 class="text-2xl text-[var(--orange)] mb-1"># About</h1>
<h1 class="text-xl text-[var(--cyan)] mb-1">## Journey</h1>

<p class="mb-2">
  I've been playing with tech for as long as I can remember. Like any
  self-respecting 90s kid, it all started with a Game Boy and a cartridge of
  <span class="text-[var(--red)]">Pokémon Red</span>. After that, when the
  internet arrived at my home, everything changed. I dove into this new world
  with the eyes of a full-grown neckbeard trapped in a 12-year-old’s body. I
  started reading, participating in hacking forums, and learning the basics of
  programming. So I knew from a very young age that I wanted to study a Computer
  Science degree.
</p>
<p class="mb-1">
  As expected, I studied a Computer Engineering Degree in <a
    class="text-[var(--blue)] hover:italic"
    target="_blank"
    href="https://esingenieria.uca.es/"
  >
    Universidad de Cádiz</a
  >. Nevertheless, I never limited my learning to just academics. Before,
  during, and after my degree, I've always been messing around with new
  technologies, frameworks, and the latest trends in development and
  electronics. That’s why most of my side projects are built with modern
  languages I don’t usually work with in my day-to-day job. (until I started to
  work in <a
    class="text-[var(--blue)] hover:italic"
    target="_blank"
    href="https://databeacon.aero">Databeacon</a
  >, one of the few companies in Spain that builds their core systems in Rust
  🦀).
</p>

<h1 class="text-xl text-[var(--cyan)] mb-1">## Gaming</h1>

<p class="mb-2">
  Before adult life hit me, I was a hardcore competitive gamer, with my soul
  split in two halves: <span class="text-[var(--white)]">Counter Strike</span> and
  <span class="text-[var(--white)]">World of Warcraft</span>. But, In this new
  stage of my life, starting from when I began working and adopted two dogs, all
  the way until the day I die, I have become a casual console player, enjoying
  good stories, new JRPGs and <i>soulslikes</i>.
</p>

<h1 class="text-xl text-[var(--cyan)] mb-1">## Music</h1>

<p class="mb-2">
  I'm also a music nerdge and vinyl collector. Collection you can check out
  executing the <span class="text-[var(--green)]">vinyls.sh</span> script. I'm mostly
  into:
  <pre>
    - Hip hop
    - Funk
    - Soul
    - Jazz Fusion
    - Any esoteric subgenre made between 1970 and 1985
  </pre>
</p>

<h1 class="text-xl text-[var(--cyan)] mb-1">## Other</h1>
<p class="mb-1">I like keyboards and coffee.</p>
<p class="mb-4">
  I'm also currently deep diving into Brandon Sanderson's universe. At this
  moment, I've read <i>Elantris</i>, the first <i>Mistborn</i> trilogy and a couple
  of books of <i>The Stormlight Archive</i> saga.
</p>
