---
import Github from "../svg/github.svg";
import Bluesky from "../svg/bluesky.svg";
import Discord from "../svg/discord.svg";
import Linkedin from "../svg/linkedin.svg";
import Mail from "../svg/mail.svg";
import Telegram from "../svg/telegram.svg";
import X from "../svg/x.svg";
---

<div class="text-[var(--red)]">
  &#123;
  <div class="pl-4">
    <div class="flex gap-2">
      <span>"description":</span>
      <span class="text-[var(--cyan)]"
        >"Here are all my contact methods, feel free to reach me out through any
        of them."</span
      >,
    </div>
    <div class="flex gap-2">
      <span>"contact_methods":</span>
      <span class="text-[var(--red)]">[</span>
    </div>
    <div class="pl-4">
      <div>
        &#123;
        <div class="pl-4">
          <div class="flex gap-2">
            <span class="flex items-center">"platform":</span>
            <span class="text-[var(--yellow)] flex items-center"
              >"<Mail
                height={24}
                width={24}
                class="fill-[var(--yellow)]"
              />&nbsp;email"</span
            >,
          </div>
          <div class="flex gap-2">
            <span>"value":</span>
            <a
              class="text-[var(--yellow)] hover:text-[var(--orange)] hover:scale-105 active:scale-95"
              href="mailto:me@charliebacon.dev"
            >
              "me@charliebacon.dev"
            </a>
          </div>
        </div>
        &#125;,
      </div>

      <div>
        &#123;
        <div class="pl-4">
          <div class="flex gap-2">
            <span class="flex items-center">"platform":</span>
            <span class="text-[var(--yellow)] flex items-center"
              >"<Github
                height={24}
                width={24}
                class="fill-[var(--yellow)]"
              />&nbsp;github"</span
            >,
          </div>
          <div class="flex gap-2">
            <span>"value":</span>
            <a
              class="text-[var(--yellow)] hover:text-[var(--orange)] hover:scale-105 active:scale-95"
              target="_blank"
              href="https://github.com/sharlibeicon"
            >
              "https://github.com/sharlibeicon"
            </a>
          </div>
        </div>
        &#125;,
      </div>
      <div>
        &#123;
        <div class="pl-4">
          <div class="flex gap-2">
            <span class="flex items-center">"platform":</span>
            <span class="text-[var(--yellow)] flex items-center"
              >"<Linkedin
                height={24}
                width={24}
                class="fill-[var(--yellow)]"
              />&nbsp;linkedin"</span
            >,
          </div>
          <div class="flex gap-2">
            <span>"value":</span>
            <a
              class="text-[var(--yellow)] hover:text-[var(--orange)] hover:scale-105 active:scale-95"
              target="_blank"
              href="https://linkedin.com/in/sharlibeicon"
            >
              "https://linkedin.com/in/sharlibeicon"
            </a>
          </div>
        </div>
        &#125;,
      </div>
      <div>
        &#123;
        <div class="pl-4">
          <div class="flex gap-2">
            <span class="flex items-center">"platform":</span>
            <span class="text-[var(--yellow)] flex items-center"
              >"<X
                height={24}
                width={24}
                class="fill-[var(--yellow)]"
              />&nbsp;Twitter"</span
            >,
          </div>
          <div class="flex gap-2">
            <span>"value":</span>
            <a
              class="text-[var(--yellow)] hover:text-[var(--orange)] hover:scale-105 active:scale-95"
              target="_blank"
              href="https://x.com/charliebaconn"
            >
              "https://x.com/charliebaconn"
            </a>
          </div>
        </div>
        &#125;,
      </div>
      <div>
        &#123;
        <div class="pl-4">
          <div class="flex gap-2">
            <span class="flex items-center">"platform":</span>
            <span class="text-[var(--yellow)] flex items-center"
              >"<Bluesky
                height={24}
                width={24}
                class="fill-[var(--yellow)]"
              />&nbsp;bluesky"</span
            >,
          </div>
          <div class="flex gap-2">
            <span>"value":</span>
            <a
              class="text-[var(--yellow)] hover:text-[var(--orange)] hover:scale-105 active:scale-95"
              target="_blank"
              href="https://bsky.app/profile/charliebacon.dev"
            >
              "https://bsky.app/profile/charliebacon.dev"
            </a>
          </div>
        </div>
        &#125;,
      </div>
      <div>
        &#123;
        <div class="pl-4">
          <div class="flex gap-2">
            <span class="flex items-center">"platform":</span>
            <span class="text-[var(--yellow)] flex items-center"
              >"<Discord
                height={24}
                width={24}
                class="fill-[var(--yellow)]"
              />&nbsp;discord"</span
            >,
          </div>
          <div class="flex gap-2">
            <span>"value":</span>
            <a
              class="text-[var(--yellow)] hover:text-[var(--orange)] hover:scale-105 active:scale-95"
              target="_blank"
              href="https://discord.com/users/sharlibeicon#4997"
            >
              "sharlibeicon#4997"
            </a>
          </div>
        </div>
        &#125;,
      </div>
      <div>
        &#123;
        <div class="pl-4">
          <div class="flex gap-2">
            <span class="flex items-center">"platform":</span>
            <span class="text-[var(--yellow)] flex items-center"
              >"<Telegram
                height={24}
                width={24}
                class="fill-[var(--yellow)]"
              />&nbsp;telegram"</span
            >,
          </div>
          <div class="flex gap-2">
            <span>"value":</span>
            <a
              class="text-[var(--yellow)] hover:text-[var(--orange)] hover:scale-105 active:scale-95"
              target="_blank"
              href="https://t.me/charliebacon"
            >
              "@CharlieBacon"
            </a>
          </div>
        </div>
        &#125;
      </div>
      <span class="text-[var(--red)]">]</span>
    </div>
    &#125;
  </div>
</div>
