---

---

<h1 class="text-2xl text-[var(--orange)] mb-1"># Experience</h1>

<h1 class="text-xl text-[var(--cyan)] mb-1">## Current Position</h1>

<h1 class="text-lg text-[var(--blue)] mb-1">### DataBeacon S.L.</h1>
<p class="mb-2">
  <span class="text-[var(--white)]">Software Engineer</span>
  <span class="text-[var(--yellow)]">(July 2024 - Present)</span> | Madrid, Spain
</p>
<p class="mb-4">
  Part of the core development team of all DataBeacon tools, software solutions
  written in <span class="text-[var(--red)]">Rust</span>, <span
    class="text-[var(--red)]">TypeScript</span
  >
  and <span class="text-[var(--red)]">Python</span> which improve the efficiency
  of the air traffic control process. Taking an active role from architecture design
  to development. 🦀✈️ <a
    class="text-[var(--blue)] hover:italic"
    target="_blank"
    href="https://databeacon.aero"
  >
    [website]
  </a>
</p>

<h1 class="text-xl text-[var(--cyan)] mb-1">## Previous Roles</h1>

<h1 class="text-lg text-[var(--blue)] mb-1">### PayRetailers S.L.</h1>
<p class="mb-2">
  <span class="text-[var(--white)]">Software Engineer</span>
  <span class="text-[var(--yellow)]">(December 2023 - July 2024)</span> | Barcelona,
  Spain
</p>
<p class="mb-2">
  Development of secure payment gateway integrations in <span
    class="text-[var(--red)]">.NET Core 8.0</span
  >. Successfully integrated several partners with the consequent achievement of
  <span class="text-[var(--green)]">PCI DSS compliance certificate</span>.
</p>

<h1 class="text-lg text-[var(--blue)] mb-1">### Navantia S.A.</h1>
<p class="mb-2">
  <span class="text-[var(--white)]">Software Engineer</span>
  <span class="text-[var(--yellow)]">(June 2022 - December 2023)</span> | San Fernando,
  Spain
</p>
<p class="mb-2">
  Design and implementation of critical, high-performance user interfaces for
  the <span class="text-[var(--green)]">F110 frigate's combat systems</span> of the
  Spanish Navy, using <span class="text-[var(--red)]">C++</span> and the <span
    class="text-[var(--red)]">Qt Framework</span
  >. ⚓
</p>

<h1 class="text-lg text-[var(--blue)] mb-1">### Isotrol S.A.</h1>
<p class="mb-2">
  <span class="text-[var(--white)]"
    >Full-Stack Developer → Technical Team Lead</span
  >
  <span class="text-[var(--yellow)]">(July 2018 - June 2022)</span> | Sevilla, Spain
</p>
<p class="mb-4">
  Full-Stack development of renewable energy plant SCADAs. Successfully
  integrated more than <span class="text-[var(--green)]">10 plants</span>, from
  business development in
  <span class="text-[var(--red)]">.NET/C#</span> to UI/UX design and implementation
  in
  <span class="text-[var(--red)]">JavaServer Pages</span> and <span
    class="text-[var(--red)]">JavaScript</span
  >. Besides these technical tasks, in my last year at Isotrol, I assumed the
  <span class="text-[var(--green)]"
    >management and mentoring of a team of developers</span
  >, implementing best practices in knowledge sharing, collaboration, code
  reviews, and reliability. 🌱
</p>
