---

---

<div class="text-[var(--fg0)]">
  <div class="pl-4">
    <div class="text-[var(--cyan)] mb-2">PROJECTS</div>
    <div class="text-[var(--yellow)] mb-1">
      ================================================================================
    </div>

    <div class="mb-4">
      <div class="text-[var(--red)] mb-2">Oxify</div>
      <div class="pl-4 text-[var(--fg0)]">
        <div class="mb-2">
          A Lightweight, customizable Spotify client built on top of Iced and
          Librespot.
        </div>
        <div class="mb-2">
          <span class="text-[var(--white)]">Repository:</span>
          <a
            class="text-[var(--blue)] hover:text-[var(--cyan)] underline"
            target="_blank"
            href="https://codeberg.org/CharlieBacon/oxify"
            >https://codeberg.org/CharlieBacon/oxify</a
          >
        </div>
        <div class="text-[var(--green)]">
          [<span class="text-[var(--yellow)]">wip</span>] [<span
            class="text-[var(--red)]">rust</span
          >]
        </div>
      </div>

      <div class="text-[var(--blue)] mt-4 mb-2">El Telitairo</div>
      <div class="pl-4 text-[var(--fg0)]">
        <div class="mb-2">AI powered telegram bot.</div>
        <div class="mb-2">
          <span class="text-[var(--white)]">Repository:</span>
          <a
            class="text-[var(--blue)] hover:text-[var(--cyan)] underline"
            target="_blank"
            href="https://github.com/SharliBeicon/telitairos-bot"
            >https://github.com/SharliBeicon/telitairos-bot</a
          >
        </div>
        <div class="text-[var(--green)]">
          [<span class="text-[var(--red)]">rust</span>] [<span
            class="text-[var(--magenta)]">ai</span
          >]
        </div>
      </div>

      <div class="text-[var(--green)] mt-4 mb-2">Procedural Maps</div>
      <div class="pl-4 text-[var(--fg0)]">
        <div class="mb-2">
          Procedural map generation using constraint satisfaction.
        </div>
        <div class="mb-2">
          <span class="text-[var(--white)]">Repository:</span>
          <a
            class="text-[var(--blue)] hover:text-[var(--cyan)] underline"
            target="_blank"
            href="https://github.com/SharliBeicon/procedural-maps"
            >https://github.com/SharliBeicon/procedural-maps</a
          >
        </div>
        <div class="text-[var(--green)]">
          [<span class="text-[var(--orange)]">zig</span>] [<span
            class="text-[var(--cyan)]">raylib</span
          >]
        </div>
      </div>

      <div class="text-[var(--magenta)] mt-4 mb-2">Particle System</div>
      <div class="pl-4 text-[var(--fg0)]">
        <div class="mb-2">
          A celular automata model which displays different kind of particles
          such as sand and water.
        </div>
        <div class="mb-2">
          <span class="text-[var(--white)]">Repository:</span>
          <a
            class="text-[var(--blue)] hover:text-[var(--cyan)] underline"
            target="_blank"
            href="https://github.com/SharliBeicon/zig-particle-system"
            >https://github.com/SharliBeicon/zig-particle-system</a
          >
        </div>
        <div class="text-[var(--green)]">
          [<span class="text-[var(--orange)]">zig</span>] [<span
            class="text-[var(--cyan)]">raylib</span
          >]
        </div>
      </div>

      <div class="text-[var(--orange)] mt-4 mb-2">Terminal Space Invaders</div>
      <div class="pl-4 text-[var(--fg0)]">
        <div class="mb-2">
          A terminal-based ASCII version of the game Space Invaders. Written in
          Rust.
        </div>
        <div class="mb-2">
          <span class="text-[var(--white)]">Repository:</span>
          <a
            class="text-[var(--blue)] hover:text-[var(--cyan)] underline"
            target="_blank"
            href="https://github.com/SharliBeicon/rust-space-invaders"
            >https://github.com/SharliBeicon/rust-space-invaders</a
          >
        </div>
        <div class="text-[var(--green)]">
          [<span class="text-[var(--red)]">rust</span>]
        </div>
      </div>
    </div>
  </div>
</div>
