---

---

<h1 class="text-2xl text-[var(--orange)] mb-1">
  # Welcome to Charlie Bacon's place
</h1>
<p class="mb-2">
  Hello there! I'm Carlos Tocino, AKA Charlie Bacon 🥓. A thirty-something years
  old Software Engineer from southern Spain.
</p>
<p class="mb-2">
  Here you have my terminal-like interactive portfolio. Navigate by writing some
  commands and explore the different files to learn some things about me, my
  career and my profile.
</p>

<p class="mb-2">
  You can use the <span class="text-[var(--cyan)]">ls</span> command to see the available
  files and directories, and the <span class="text-[var(--cyan)]">cat</span> command
  to read the contents of a file.
</p>

<p class="mb-4">
  There are also some interesting/fun commands you can try. Just look around and
  see what you can find!
</p>
