---

---

<div class="text-[var(--fg0)]">
  <div class="pl-4">
    <div class="text-[var(--cyan)] mb-2">TECHNICAL SKILLS</div>
    <div class="text-[var(--yellow)] mb-1">
      ================================================================================
    </div>

    <div class="mb-4">
      <div class="text-[var(--red)] mb-2">Systems Level Programming:</div>
      <div class="pl-4 text-[var(--fg0)]">
        - Rust<br />
        - C/C++<br />
        - Zig<br />
        - C#
      </div>

      <div class="text-[var(--blue)] mt-3 mb-2">
        Web Oriented Languages & Libraries:
      </div>
      <div class="pl-4 text-[var(--fg0)]">
        - TypeScript<br />
        - React<br />
        - CSS
      </div>

      <div class="text-[var(--green)] mt-3 mb-2">
        DevOps & Infrastructure Tools:
      </div>
      <div class="pl-4 text-[var(--fg0)]">
        - Docker<br />
        - Kubernetes<br />
        - Nix
      </div>

      <div class="text-[var(--cyan)] mt-3 mb-2">Cloud Services:</div>
      <div class="pl-4 text-[var(--fg0)]">
        - AWS<br />
        - Vercel
      </div>

      <div class="text-[var(--magenta)] mt-3 mb-2">Core Computer Science:</div>
      <div class="pl-4 text-[var(--fg0)]">
        - Data Structures & Algorithms<br />
        - SQL and No-SQL Databases<br />
        - Linux
      </div>
    </div>

    <div class="text-[var(--cyan)] mb-2">SOFT SKILLS</div>
    <div class="text-[var(--yellow)] mb-1">
      ================================================================================
    </div>

    <div class="mb-4 text-[var(--fg0)]">
      <div class="text-[var(--orange)] mb-2">Personal & Professional:</div>
      <div class="pl-4">
        - Fast Learning<br />
        - Leadership<br />
        - Effective Communication<br />
        - Critical Thinking
      </div>
    </div>
  </div>
</div>
