---

---

<div class="text-[var(--fg0)]">
  <div class="pl-4">
    <div class="text-[var(--cyan)] mb-2">TECHNICAL SPECIFICATIONS</div>
    <div class="text-[var(--yellow)] mb-1">
      ================================================================================
    </div>
      <pre
        class="text-[var(--fg0)]">
- Astro
- Pure Vanilla JS 
- Tailwind CSS
- <span class="text-[var(--green)]">0 runtime dependencies</span>
      </pre>
  </div>
</div>
