{{ layout "layouts/base.vto" }}

{{ set main }}
  <div class="flex px-4 w-full md:w-4/5 gap-4 justify-between items-start">
    {{ comp.mobile_nav() }}
    {{ comp.theme_toggle() }}
  </div>
  {{ inner }}
{{ /set }}
