{{ layout "layouts/base_themed.vto" }}

{{ set inner }}
  <article class="prose prose-sm dark:prose-invert md:prose lg:prose-lg prose-headings:text-custom-dark dark:prose-headings:text-custom-accent prose-p:text-custom-medium dark:prose-p:text-custom-light" >
    {{ content |> safe }}
  </article>
{{ /set }}
