{{ layout "layouts/left_nav.vto" }}

{{ set page }}
    {{ comp card_plain }}
    <article class="prose prose-sm md:prose lg:prose-lg dark:prose-invert">
      {{ content |> safe }}
    </article>
    {{ /comp }}
{{ /set }}
