{{ layout "layouts/base.vto" }}

{{ set main }}
  <div class="p-8">
      {{comp.nav_element({text: "Back Home", path: "/"})}}
  </div>
    <div class="flex justify-center items-center">
      {{ content  |> safe }}
    </div>
{{ /set }}
