---
import Section from "@/components/Section.astro";
---

<Section title="About">
    <div class="text-[0.95rem] font-extralight leading-relaxed sm:text-[1.05rem]">
        Hello there! I'm Carlos Tocino (Charlie Bacon for non-Spanish speakers),
        a software engineer based in Spain. I've been living inside a computer
        since a lil kiddo, programming for +15 years, and working professionally
        as a software engineer for +8 years. I currently work at <a
            class="accent-link"
            href="https://radancy.com"
            target="_blank"
            rel="noreferrer">Radancy</a
        > as technical team lead.
        <br />
        <br />
        Using Rust 🦀 on a daily basis, at work and for fun.
        <br />
        <br />
        I use neovim, btw.
        <br />
        <br />
        I'm also a vinyl collector; you can check my humble list of records on <a
            class="accent-link"
            href="https://www.discogs.com/es/user/SharliBeicon/collection"
            target="_blank"
            rel="noreferrer"
        >
            Discogs</a
        >.
    </div>
</Section>
