---
import Section from "@/components/Section.astro"
---

<Section title="About">
  <div class="container">
    <p>
      Hello there! My name is Carlos Tocino (Charlie Bacon for non-Spanish
      speakers). I've been in the software engineering industry for <b>+6</b> years,
      delivering products and leading teams effectively. However, I've been building
      stuff (software and not software) for +13 years.
    </p>
    <p>
      I am graduated in computer engineering from Universidad de Cádiz,
      Co-Founder of <a href="https://cenware.net" target="_blank">Cenware</a>,
      an association that helps small businesses to achieve a successful digital
      transformation, and I'm currently working at
      <a href="https://www.payretailers.com/" target="_blank">PayRetailers</a> as
      a Senior Software Engineer, processing payments across all Latin America.
    </p>
    <p>
      I'm also vinyl collector (check my <a
        href="https://www.discogs.com/es/user/SharliBeicon/collection"
        target="_blank">discogs</a
      >!), lifelong gamer, meme lover and, in short, a geek.
    </p>
  </div>
</Section>

<style>
  .container {
    margin-bottom: 30px;
  }
  a {
    text-decoration: underline;
    text-decoration-color: #00adb5;
    text-decoration-thickness: 2px;
  }
  p {
    font-size: 0.925rem;
    margin-bottom: 1rem;
  }
</style>
