---
import Section from "@/components/Section.astro"
import experience from "@/content/data/experience.json"
---

<Section title="Experience">
  <div class="container">
    <ul>
      {
        experience.map((item) => {
          return (
            <li>
              <article>
                <header>
                  <div>
                    <h3>{item.company}</h3>
                    <h4>{item.position}</h4>
                  </div>
                  <p>{item.duration}</p>
                </header>
                <footer>
                  <p>{item.summary}</p>
                </footer>
              </article>
            </li>
          )
        })
      }
    </ul>
  </div>
</Section>

<style>
  .container {
    margin-bottom: 30px;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article h3 {
    font-weight: 500;
    margin-bottom: 5px;
  }

  article h4 {
    font-weight: 300;
    margin-bottom: 3px;
    color: #00adb5;
  }

  header p {
    font-size: 0.85rem;
    color: #a7a7a7;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: first flex-start;
  }
</style>
