---
import Section from "@/components/Section.astro"
import { Image } from "astro:assets"
import profileImg from "@/content/image/profile.webp"
---

<Section>
  <div class="container">
    <div class="info">
      <h1>Carlos Tocino</h1>
      <h3>AKA. Charlie Bacon</h3>
      <h2>Software Engineer in Cádiz</h2>
      <h4>Southern Spain ☀️🏖️</h4>
      <p>carlostocinocubelo@gmail.com</p>
    </div>
    <figure>
      <Image
        src={profileImg}
        alt="profile"
        width={280}
        height={280}
        loading="eager"
      />
    </figure>
  </div>
</Section>

<style>
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  h1 {
    font-size: 3.5rem;
    font-weight: 600;
  }
  h2 {
    font-weight: 400;
    font-size: 2rem;
    text-wrap: balance;
    color: #a7a7a7;
  }

  h4 {
    color: #a7a7a7;
    font-size: 1.2rem;
    margin-bottom: 8px;
    font-weight: 200;
  }
  h3 {
    font-weight: 400;
    margin-bottom: 10px;
    color: #00adb5;
  }
  img {
    border-radius: 50%;
  }

  @media only screen and (max-width: 700px) {
    .container {
      flex-direction: column;
    }
  }

  @media only screen and (max-width: 500px) {
    .container {
      flex-direction: column;
    }
    h1 {
      font-size: 2.5rem;
    }
    h2 {
      font-size: 1.25rem;
    }
  }
</style>
