---
import Section from "@/components/Section.astro";
---

<Section>
    <div
        class="flex flex-wrap items-center justify-center gap-x-8 gap-y-3 py-4 text-md print:hidden sm:justify-between sm:px-8 md:px-12 lg:px-24"
    >
        <a
            class="accent-link"
            href="https://codeberg.org/CharlieBacon"
            target="_blank"
            rel="noreferrer"
        >
            Codeberg
        </a>
        <a
            class="accent-link"
            href="https://github.com/SharliBeicon"
            target="_blank"
            rel="noreferrer"
        >
            GitHub
        </a>
        <a
            class="accent-link"
            href="https://www.linkedin.com/in/sharlibeicon/"
            target="_blank"
            rel="noreferrer"
        >
            LinkedIn
        </a>
        <a
            class="accent-link"
            href="https://twitter.com/charliebaconn"
            target="_blank"
            rel="noreferrer"
        >
            Twitter
        </a>
    </div>
</Section>
