---
import Section from "@/components/Section.astro"
---

<Section>
  <div class="container">
    <a href="https://github.com/SharliBeicon" target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/sharlibeicon/" target="_blank"
      >LinkedIn</a
    >
    <a href="https://twitter.com/SharliBeicon" target="_blank">Twitter</a>
  </div>
</Section>

<style>
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 10rem 1rem;
  }
  a {
    text-decoration: underline;
    text-decoration-color: #00adb5;
    text-decoration-thickness: 3px;
  }

  @media only screen and (max-width: 700px) {
    .container {
      padding: 1rem 2rem 1rem;
    }
  }
  @media only screen and (max-width: 500px) {
    .container {
      padding: 1rem 0rem 1rem;
    }
  }
</style>
