---
import ThemeToggle from "@/components/ThemeToggle.astro";

const isBlogPage = Astro.url.pathname.startsWith("/blog");
---

<header class="print:hidden">
    <nav class="flex items-center justify-end gap-5 px-5">
        {
            isBlogPage && (
                <a class="accent-link text-base" href="/">
                    Home
                </a>
            )
        }
        <ThemeToggle />
    </nav>
</header>
