---
import ThemeIcon from "@/components/ThemeIcon.astro"
import LanguageToggle from "@/components/LanguageToggle.astro"
---

<header>
  <nav>
    <ThemeIcon />
    <LanguageToggle />
  </nav>
</header>

<style>
  nav {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  @media print {
    header {
      display: none;
    }
  }
</style>
