---
import ThemeToggle from "@/components/ThemeToggle.astro";
---

<header class="print:hidden">
    <nav class="flex items-center justify-end gap-5 px-5">
        <ThemeToggle />
    </nav>
</header>
