---
import Section from "@/components/Section.astro"
import skills from "@/content/data/skills.json"

interface Props {
  lang: "en" | "es"
  title: string
}

const { lang, title } = Astro.props
---

<Section title={title}>
  <div class="container">
    <ul>
      {
        skills[lang].map((item) => {
          return (
            <li>
              <span>{item}</span>
            </li>
          )
        })
      }
    </ul>
  </div>
</Section>

<style>
  .container {
    margin-bottom: 30px;
  }
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
  }
  li {
    border-radius: 8px;
    background: #00adb5;
    color: #fff;
    font-size: 0.85rem;
    font-weight: 400;
    padding: 0.2rem 0.6rem;
    transition: background 500ms;
  }

  li:hover {
    background: #00696f;
  }

  @media print {
    li {
      color: #222831;
    }
  }
</style>
