---
import Layout from "@/layouts/Layout.astro"

import Header from "@/components/Header.astro"
import Links from "@/components/Links.astro"
import Bio from "@/components/Bio.astro"
import Experience from "@/components/Experience.astro"
import Education from "@/components/Education.astro"
import Projects from "@/components/Projects.astro"
import Skills from "@/components/Skills.astro"
---

<Layout title="Charlie Bacon's Portfolio">
  <main>
    <Header />
    <Links />
    <Bio />
    <Experience />
    <Education />
    <Projects />
    <Skills />
  </main>
</Layout>
<style></style>
