---
import Layout from "@/layouts/Layout.astro"

import Header from "@/components/sections/Header.astro"
import Links from "@/components/sections/Links.astro"
import Bio from "@/components/sections/Bio.astro"
import Experience from "@/components/sections/Experience.astro"
import Education from "@/components/sections/Education.astro"
import Projects from "@/components/sections/Projects.astro"
import Skills from "@/components/sections/Skills.astro"
---

<Layout title="Charlie Bacon's Portfolio">
  <main>
    <Header />
    <Links />
    <Bio />
    <Experience />
    <Education />
    <Projects />
    <Skills />
  </main>
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }
</style>
