---
import Layout from "@/layouts/Layout.astro"
import ThemeIcon from "@/components/ThemeIcon.astro"
import LanguageToggle from "@/components/LanguageToggle.astro"

import Header from "@/components/sections/Header.astro"
import Links from "@/components/sections/Links.astro"
import Bio from "@/components/sections/Bio.astro"
import Experience from "@/components/sections/Experience.astro"
import Education from "@/components/sections/Education.astro"
import Projects from "@/components/sections/Projects.astro"
import Skills from "@/components/sections/Skills.astro"
---

<Layout title="Charlie Bacon's Portfolio">
  <main>
    <header>
      <nav>
        <ThemeIcon />
        <LanguageToggle />
      </nav>
    </header>
    <Header />
    <Links />
    <Bio />
    <Experience />
    <Education />
    <Skills />
    <Projects />
  </main>
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }
  nav {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
  }
</style>
