---
title: Blog
layout: layouts/section.vto
description: This is where I'll be writing from time to time. Random thoughts or stuff I think is worth sharing.
prose: true
---

{{ comp.post_list({ type: "type=blog",  empty_message: "No blog entries yet. Stay tuned!"}) }}
