---
title: Bookmarks
layout: layouts/section.vto
description: In this section, I'll be posting content that I find interesting to keep for the record or just to share. Articles, videos, books, magazines... whatever.
prose: true
---

{{ comp.post_list({ type: "type=bookmarks",  empty_message: "No bookmark entries yet. Stay tuned!"}) }}

