---
import Layout from "@/layouts/Layout.astro"

import NavBar from "@/components/sections/NavBar.astro"
import Header from "@/components/sections/Header.astro"
import Links from "@/components/sections/Links.astro"
import Bio from "@/components/sections/Bio.astro"
import Experience from "@/components/sections/Experience.astro"
import Education from "@/components/sections/Education.astro"
import Projects from "@/components/sections/Projects.astro"
import Skills from "@/components/sections/Skills.astro"
import CommandMenu from "@/components/CommandMenu.astro"
---

<Layout title="Portafolio de Carlos Tocino">
  <main>
    <NavBar translated />
    <Header lang="es" />
    <Links />
    <Bio lang="es" title="Bio" />
    <Experience lang="es" title="Experiencia" />
    <Education lang="es" title="Educación" />
    <Skills lang="es" title="Habilidades" />
    <Projects lang="es" title="Proyectos" />
  </main>
  <CommandMenu lang="es" />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }
</style>
