<div class="flip-container">
  <div class="flip-inner w-64 h-64 relative">
    <img src="/assets/img/me-bacon.webp" 
      class="front rounded-full object-cover w-full h-full" 
      alt="Me Bacon">
    <img src="/assets/img/me.webp" 
      class="back rounded-full object-cover w-full h-full" 
      alt="Me">
    </div>
</div>
