<div class="p-3 rounded-md relative bg-custom-mediumdark dark:bg-custom-mediumlight shadow-[-5px_7px_10px_0px_rgba(0,0,0,0.2)] transition-all bg-opacity-5 dark:bg-opacity-5 p-8">
  {{ content }}
</div>
