<div class="{{ classes }} rounded-md relative transition-all {{if slim }} bg-custom-dark dark:bg-custom-light bg-opacity-5 dark:bg-opacity-5 p-3 {{ else }} bg-custom-mediumdark dark:bg-custom-mediumlight p-8 bg-opacity-5 dark:bg-opacity-5 {{ if shadow }} shadow-[-1px_1px_1px_1px_rgba(0,0,0,0.1)] {{ /if }} {{ /if }}">
  {{ content }}
</div>


