<button class="bars-button mt-4 md:hidden top-4 right-4 z-[51]" title="Toggle navigation">
    <svg src="/assets/svg/bars.svg" class="fill-custom-dark dark:fill-custom-light h-[2rem] w-[2rem] transition-transform duration-300" inline></svg>
</button>
<div class="menu-container fixed top-14 left-0 w-full h-full bg-custom-light dark:bg-custom-dark bg-opacity-95 dark:bg-opacity-95 transform translate-x-full transition-transform duration-300 z-50 hidden">
    {{ comp.navigation({ home: true, card: "px-8", flex: "p-4 flex-col gap-8 justify-center h-full"}) }}
</div>
